body { 
font-family: Ariel, sans-serif;
background-color: #cbf5f1;
margin: 0;
padding: 0;
text-align: center;
}
header {
  background-color: #968080;
  color: white;
  padding: 40px 0;
  border-bottom: 5px solid #073952;
}
nav {
  margin-top: 10px
}
margin:0 10px
color: #d4c9c9;
text-decoration: none;
font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
}
